@media (max-width: 1399.98px) {
    
}

@media (max-width: 1199.98px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    .header__navbar {
        display: none;
    }

    .header__socials {
        display: none;
    }

    .header__btn-navbar {
        display: block;
    }
}

@media (max-width: 767.98px) {
    .accordeon {
        width: 55%;
    }
}

@media (max-width: 575.98px) {
    .accordeon {
        width: 100%;
    }

    .footer__rigths {
        font-size: 15px;
    }
    
    .footer__made-by {
        font-size: 9px;
    }

    .footer__logo {
        padding: 6px 8px 6px 8px;
        font-size: 16px;
    }
}