* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    margin: 0 auto;
    width: 1120px;
    height: 100%;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #fff;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navbar {
    display: flex;
}

.navbar__link {
    position: relative;
}

.navbar__link a {
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
    font-size: 17px;
    text-decoration: none;
}

.navbar__link:first-child {
    margin-left: 0;
}

.navbar__link:last-child {
    margin-right: 0;
}

.navbar__link::before {
    content: "";
    width: 0%;
    height: 1px;
    background-color: #000;
    position: absolute;
    transition: .5s;
}

.navbar__link:hover::before {
    width: 100%;
}

.navbar__link::after {
    left: 0;
    content: "";
    width: 1px;
    height: 0%;
    background-color: #000;
    position: absolute;
    transition: .5s;
}

.navbar__link:hover::after {
    height: 100%;
}

/* .navbar__line-left {
    width: 1px;
    height: 100%;
    background-color: #000;
    position: absolute;
}

.navbar__line-right {

} */

.header__socials {
    display: flex;
}

.socials__item {
    margin-left: 7.5px;
    margin-right: 7.5px;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.socials__item:first-child {
    margin-left: 0;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__icon, .socials__icon path {
    transition: .5s;
}

.socials__item:hover .socials__icon {
    transform: rotateY(360deg);
}

.socials__item:hover .socials__icon path {
    fill: #fff;
}

.socials__back {
    top: 40px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s;
}

.whatsup {
    background-color: #48C95F;
}

.telegram {
    background-color: #27A6E5;
}

.instagram {
    background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
}

.vk {
    background-color: #0077FF;
}

.socials__item:hover .socials__back {
    top: 0;
}

.content {
    width: 100%;
    min-height: 800px;
    background-color: #cccccc;
    background-image: url("./img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.accordeon {
    margin: 85px auto;
    border-radius: 15px;
    width: 66%;
    background-color: #fff;
}

.accordeon__header {
    padding-top: 50px;
    padding-bottom: 18px;
    text-align: center;
}

.accordeon__item {
    border-top: 1px solid #4366AE;
    padding-left: 40px;
}

.accordeon__item:first-child {
    border-top: 1px solid transparent;
}

.accordeon__quest {
    padding-right: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quest__text {
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quest__arrow-icon {
    min-width: 14px;
}

.quest__arrow-icon_to-up {
    transform: rotate(180deg);
}

.accordeon__answer {
    padding-right: 94px;
    padding-bottom: 47px;
    font-size: 17px;
    display: none;
}

.accordeon__answer_open {
    display: block;
}

.footer {
    width: 100%;
    height: 80px;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__rigths {
    font-family: 'Roboto';
    font-size: 17px;
}

.footer__made-by {
    font-family: 'Karmatic Arcade', sans-serif;
    font-size: 15px;
}

.footer__logo {
    margin-left: 11.5px;
    border: 2px solid #000;
    padding: 7px 12px 9px 12px;
    font-family: 'Karmatic Arcade';
    font-size: 25px;
}